body {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

p {
    color: white;
	font-size: 15px;
}

h1 {
    color: white;
	font-size: 15px;
}

button {
    padding: 15px 35px; /* Aumenta il padding per rendere il pulsante più grande */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 25px; /* Aumenta la dimensione del font */
}

#risultato {
    font-weight: bold;
    margin-top: 20px;
}
