body {
    font-family: sans-serif;
    text-align: center;
	background-color: black;
}

h1 {
    color: #333;
}

button {
    padding: 20px 40px; /* Aumenta il padding per rendere il pulsante più grande */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 20px; /* Aumenta la dimensione del font */
}

#risultato {
    font-weight: bold;
    margin-top: 20px;
}
